:root {
  --nav-height: 3.80em;
  --navbar-link-size: 14px;
  --global-font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

html, body, ul, ol,
h1, h2, h3, h4, h5, h6,
label, p, a {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6,
label, p, a, button, input, i {
  font-family: var(--global-font-family);
}

ul, ol {
  /* Para quitar los puntos de la izquierda en cada <li> */
  list-style: none;
}

div.Content {
  width: auto;
  margin: 8px 10px 8px 10px;
  /* Para que los hijos o se salgan de este div.Content */
}

a, button {
  text-decoration: none;
  color: black;
  border-radius: 0;
  cursor: pointer;
}
a:hover, a:visited, button:hover, button:visited {
  color: black;
}

input, button, textarea {
  background-color: white;
  border: solid;
  border-color: darkgray;
  border-width: 1px;
}
input:focus, button:focus, textarea:focus {
  outline: none;
}

button:active {
  background-color: blue;
}

a {
  border-color: transparent;
  border: none;
  border-width: 0;
}

table, table tr, table td {
  border: none;
  padding: 0;
  margin: 0;
}

table {
  display: grid;
  border-collapse: collapse;
  border-spacing: 0;
}
table > thead, table > tbody {
  display: block;
}
table thead tr, table tbody tr {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

#logo-header {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 3em;
  margin-left: 3px;
}

header div.navbar #admin-login:hover {
  color: blue;
}
header div.navbar a {
  padding: 0 10px 0 10px;
  line-height: initial;
}
header div.navbar form {
  line-height: initial;
}
header div.navbar .top-nav {
  height: 6rem;
  line-height: 6rem;
  background-color: #dbdb52;
  position: relative;
}
header div.navbar .top-nav .to-right.top {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 10px;
}
header div.navbar .top-nav .to-right.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 6px 10px;
}
header div.navbar .bot-nav {
  height: 3rem;
  line-height: 3rem;
  border: 2px solid #24292e;
  border-radius: 5px;
  margin: 6px 10px 5px 10px;
  background-color: #24292e;
  box-shadow: 5px 10px 8px #888888;
}
header div.navbar .bot-nav .links {
  display: flex;
  justify-content: center;
}
header div.navbar .bot-nav .links a {
  padding: 0 40px 0 40px;
  color: #fff;
  font-weight: 600;
  line-height: inherit;
}
header div.navbar .bot-nav .links a:visited {
  color: #fff;
}
header div.navbar .bot-nav .links a:hover {
  color: #8c88cf;
}

.product {
  display: inline-block;
  position: relative;
  width: 309px;
  margin: 8px;
  border: 2px solid black;
  padding: 10px;
}
.product > p {
  text-align: center;
}
.product > p.nombre {
  font-size: 23px;
  font-weight: 400;
}
.product > p.descripcion {
  padding-top: 10px;
  font-size: 18px;
}
.product > p.precio {
  padding-top: 20px;
  text-align: right;
}
.product > p.precio::before {
  content: "S/.";
}

div.container-product-detail {
  margin: 28px 10px;
}
div.container-product-detail > img {
  float: left;
  width: calc(50% - 10px);
  height: 60vh;
}
div.container-product-detail .details {
  float: left;
  padding: 0 10px 0 10px;
  width: calc(50% - 20px);
}
div.container-product-detail .details .top-name {
  display: flow-root;
}
div.container-product-detail .details .top-name .nombre {
  float: left;
}
div.container-product-detail .details .top-name .categoria_nombre {
  float: right;
}
div.container-product-detail .details .precio::before {
  content: "Precio S/.";
}
div.container-product-detail .details .descripcion {
  margin-top: 15px;
}

div.container.grid {
  /*display: grid;
  grid-template-columns: repeat(4, 309px);*/
  /*h5:last-child {
      background-color: red;
      grid-column: 2 / span 1;
      grid-row: 2 / span 3;
  }*/
}
div.container.grid a.product-link {
  display: inline-block;
}

.back-from-login {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
}
.back-from-login:hover {
  background-color: black;
  color: white;
}

div.container-login-page {
  position: relative;
}
div.container-login-page .left-side {
  position: relative;
  float: left;
  height: 100vh;
  width: 50%;
}
div.container-login-page .left-side > img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
div.container-login-page .right-side {
  float: left;
  padding: 30% 20px 0 20px;
  height: calc(100vh - 30%);
  width: calc(50% - 20px - 20px);
}

form.bordered {
  border: 3px solid black;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
form.bordered.none {
  border: none;
}
form > .item {
  display: grid;
  padding: 10px;
  grid-template-columns: 150px 1fr;
  grid-template-rows: auto 1fr;
}
form > .btn-submit {
  margin: 10px;
  position: relative;
  height: 40px;
}
form > .btn-submit input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
form > .btn-submit input:hover {
  background-color: black;
  color: white;
}

div.container-administration header .top {
  height: 3.8em;
  line-height: 3.8em;
  background-color: black;
  color: white;
  padding: 4px 15px;
}
div.container-administration header .top > h2 {
  font-weight: 600;
}
div.container-administration > .bottom .left-side {
  height: calc(100vh - 3.80em - 8px - 5px);
  width: 30%;
  background-color: gray;
  padding-top: 5px;
  float: left;
}
div.container-administration > .bottom .left-side .item {
  border: 2px solid black;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
div.container-administration > .bottom .left-side .item:hover {
  background-color: black;
}
div.container-administration > .bottom .left-side .item:hover > * {
  color: white;
}
div.container-administration > .bottom .left-side > a {
  margin: auto;
}
div.container-administration > .bottom .right-side {
  padding: 10px;
  float: left;
  width: calc(70% - 20px);
  height: calc(100vh - 3.80em - 8px - 20px);
}
div.container-administration > .bottom .right-side > a {
  margin-left: 10px;
}
div.container-administration > .bottom .right-side > a:hover {
  color: blue;
}
div.container-administration > .bottom .right-side .list-table {
  border: 2px solid black;
  margin-top: 10px;
}
div.container-administration > .bottom .right-side .list-table table thead tr {
  text-align: left;
}
div.container-administration > .bottom .right-side .list-table table tbody tr {
  border: 1px solid black;
}

.modal .header {
  font-weight: 400;
  font-size: 2em;
  margin-top: 5px;
  margin-left: 20px;
}

/*# sourceMappingURL=index.css.map */
